* {
    margin: 0;
}

.home--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 20px;
}
.home--text {
    font-family: 'Karla';
    font-weight: 900;
    font-size: 3rem;
}
.home--videos {
    opacity: 80%;
    position: absolute;
    left: -368px;
    height: 200px;
    left: max(3000px,100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes scrollLeft {
    to{
        left: -368px;
    }
}

.video--container {
    width: 70%;
    position: relative;
    height: 500px;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1), rgba(0,0,0,0) 100%);
}

.vid0 {
    animation-delay: calc(30s / 10 * (10-1)*-1);
    animation-delay: -27s
}
.vid1 {
    animation-delay: -24s
}
.vid2 {
    animation-delay: -21s
}
.vid3 {
    animation-delay: -18s
}
.vid4 {
    animation-delay: -15s
}
.vid5 {
    animation-delay: -12s
}
.vid6 {
    animation-delay: -9s
}
.vid7 {
    animation-delay: -6s
}
.vid8 {
    animation-delay: -3s
}
.vid9 {
    animation-delay: 0s
}



.pepe {
    max-width: 50vh;
}

.header{
    background: linear-gradient(90deg, #672280 1.18%, #8E25B3 62.36%, #9A25C3 81.82%, #A626D3 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header--text{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    text-decoration: none;
}

.header--img{
    height: 6vh;
    margin-left: 16px;
    width: auto;
}

.header--link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 5px;
}

.header--link:hover {
    color: gray;
  }

main {
    padding: 36px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.form--gif {
    display: grid;
    grid-template-rows: 5vh 5vh 5vh;
    grid-template-columns: 30vh 30vh 30vh;
    gap: 50px;
}

.form--meme {
    display: grid;
    grid-template-rows: 5vh 5vh 5vh;
    grid-template-columns: 50vh 50vh;
    gap: 50px;
}

.form--button--meme{
    grid-column: span 2;
    font-family: 'Karla';
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.form--button--gif{
    grid-column: span 3;
    font-family: 'Karla';
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.form > label {
    font-family: 'Karla';
}


.form--input{
    min-width: 100%;
    min-height: 5vh;
    font-family: 'Karla';
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    margin-top: 5px;
}

.form--input--giftype {
    min-width: 100%;
    min-height: 5vh;
    font-family: 'Karla';
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    margin-top: 5px;
}

.meme {
    position: relative;
}

.container {
    position: relative;
}

.meme--text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme--image{
    max-width: 60vh;
    border-radius: 3px;
}

.bottom {
    bottom:0;
}

.top {
    top: 0
}