* {
    margin: 0;
}

.header{
    background: linear-gradient(90deg, #672280 1.18%, #8E25B3 62.36%, #9A25C3 81.82%, #A626D3 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header--text{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
}

.header--img{
    height: 6vh;
    margin-left: 16px;
    width: auto;
}



